@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #4A455E;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content {
  max-width: 450px;
  margin: 40px auto;
  padding: 10px;
}

.home {
  text-align: center;
}

.create-post {
  background-color: #4A455E;
  color: white;
  border-radius: 8px;
}

.go-home {
  color: #4A455E;
}

.create-post:hover {
  background-color: #857EA0;
  color: white;
  border-radius: 8px;
}

.go-home:hover {
  color: #857EA0;
}

.blog {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
  color: #4A455E;
}

.blog:hover {
  box-shadow: 1px 3px 5px #857EA0;
  color: #857EA0;
}

.blog-list {
  margin-top: 20px;
}

.blog-author {
  font-weight: 300;
  font-size: 12px;
}

.blog-title {
  font-weight: 400;
  font-size: 22px;
  padding: 0 0 5px 0;
}

.blog-content {
  font-weight: 400;
  font-size: 18px;
}

.lucky-num {
  color: #4A455E;
  margin-top: -20px;
}

.blog-title-and-author {
  text-align: left;
}

button {
  background-color: #4A455E;
  color: white;
  border-radius: 8px;
  padding: 6px;
}

button:hover {
  transform: scale(1.1)
}