@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #857ea047;
}

.navbar h1 {
  color: #4A455E;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
}

.home {
  text-align: center;
}

.create-post {
  background-color: #4A455E;
  color: white;
  border-radius: 8px;
}

.go-home {
  color: #4A455E;
}

.create-post:hover {
  background-color: #857EA0;
  color: white;
  border-radius: 8px;
}

.go-home:hover {
  color: #857EA0;
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4A455E;
}

.blog > a {
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
  color: #4A455E;
  text-decoration: none;
}

.blog:hover {
  box-shadow: 1px 3px 5px #857EA0;
  color: #857EA0;
}

.blog-list {
  margin-top: 20px;
}

.blog-author {
  font-weight: 300;
  font-size: 12px;
}

.blog-title {
  font-weight: 400;
  font-size: 22px;
  padding: 0 0 5px 0;
}

.blog-preview {
  font-weight: 400;
  font-size: 18px;
  width: 150px;
  text-align: left;
}

.lucky-num {
  color: #4A455E;
  margin-top: -20px;
}

.blog-title-and-author {
  text-align: left;
  width: 250px;
}

button {
  background-color: #4A455E;
  color: white;
  border-radius: 8px;
  padding: 6px;
}

button:hover {
  transform: scale(1.1)
}

.create {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.create label {
  text-align: left;
  display: block;
}

.create h2, article h2 {
  font-size: 25px;
  color: #4A455E;
  margin-bottom: 30px;
}

article p {
  color: #857EA0;
  font-size: 13px;
  margin: -23px 0 20px 0;
}

article div {
  margin-bottom: 30px;
  color: #4A455E;

}

.create input, .create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #857EA0;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
}

.create textarea {
  height: 250px
}

.add-post {
  font-size: 15px;
  padding: 10px 10px;
  margin-top: 15px;
}

.delete-btn {
  margin: 0 10px 0 0;
}

.not-found {
  text-align: center;
  color:#4A455E;
}

.not-found a {
  color: #4A455E;
}

.not-found a:hover {
  color: #857EA0;
}
